---
import { Button } from "../components/ui/button";
---

<div class="mt-6 flex flex-wrap items-center justify-center gap-4">
	<a href="/portfolio">
		<Button variant="secondary">View our Work</Button>
	</a>
	<a href="/#contact">
		<Button variant="default">Contact</Button>
	</a>
</div>
