---
import Link from "./link.astro";

interface Props {
	pathname: string;
}

const { pathname } = Astro.props;

type NavItemType = {
	id: number;
	text: string;
	href: string;
};

const NAV_ITEMS: NavItemType[] = [
	{
		id: 1,
		text: "Home",
		href: "/",
	},
	{
		id: 2,
		text: "About",
		href: "/about",
	},
	{
		id: 3,
		text: "Portfolio",
		href: "/portfolio",
	},
	{
		id: 4,
		text: "Pricing",
		href: "/pricing",
	},
];
---

<div class="hidden items-center gap-2 md:flex">
	{
		NAV_ITEMS.map((item) => {
			return (
				<Link href={item.href} variant={pathname === item.href ? "outline" : "ghost"} size="default" className="px-3">
					{item.text}
				</Link>
			);
		})
	}
</div>
