---
import NavItems from "../components/nav-items.astro";
import Link from "./link.astro";
import { ModeToggle } from "./react/mode-toggle";

const pathname = Astro.url.pathname;
---

<nav class="sticky top-0 z-30 border-b bg-background text-foreground">
	<div class="container mx-auto flex h-16 items-center justify-between">
		<a href="/" class="flex items-center gap-2">
			<div class="flex h-9 w-9 items-center justify-center rounded-full bg-primary text-sm font-semibold text-primary-foreground">AG</div>
			<span class="text-sm font-medium tracking-tight text-foreground">Agency</span>
			{/* TODO: add agency logo and name here */}
		</a>
		<NavItems pathname={pathname} />
		<div class="flex items-center gap-4">
			<Link href="/contact" variant="default" size="default">Contact Us</Link>
			<ModeToggle client:load />
		</div>
	</div>
</nav>
