---
import Link from "./link.astro";
import PortfolioProjects from "./react/portfolio-projects";

const pathname = Astro.url.pathname;
const isHomePage = pathname === "/";
---

<section class="container mx-auto space-y-8 py-12 flex flex-col gap-6">
	{
		isHomePage && (
			<div class="text-center">
				<h1 class="heading">Portfolio</h1>
				<h2 class="sub-heading">A selection of projects we’ve built for your clients</h2>
			</div>
		)
	}
	<PortfolioProjects pathname={pathname} client:load />
	{
		isHomePage ? (
			<div class="flex justify-center">
				<Link href="/portfolio" variant="outline" size="default">
					See more work
				</Link>
			</div>
		) : null
	}
</section>

<hr class="hr" />
