---
import CTA from "./cta.astro";
import { Card } from "./ui/card";
---

<section class="container mx-auto py-12">
	<Card className="mx-auto max-w-2xl space-y-3 border-muted bg-card/60 p-8 text-center">
		<div class="text-center">
			<h1 class="heading">Ready to Elevate Your Presence?</h1>
			<h2 class="sub-heading">Let's give your idea the digital presence it deserves</h2>
		</div>
		<CTA />
	</Card>
</section>
