---
import CTA from "./cta.astro";
import { Card } from "./ui/card";

const pathname = Astro.url.pathname;
console.log(pathname);
---

<section class="container mx-auto py-12">
	<Card className="mx-auto max-w-2xl space-y-3 border-muted bg-card/60 p-8 text-center">
		<div class="text-center">
			<h1 class="heading">Digitize Your Presence Now</h1>
			<h2 class="sub-heading">Take the next step to grow your business.</h2>
		</div>
		<CTA />
	</Card>
</section>
